/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #083b4c;
}

/* title */

.container {
  margin: 0 auto;
  width: 80%;
}

.title {
  text-align: center;
  padding: 20px 0;
  color: #fff;
  font-size: 3em;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  text-align: center;
  flex-basis: calc(100% / 7);
}

.number {
  margin: 10px 10px;
  padding: 30px 0;
  font-size: 1.2em;
}

.normal {
  background-color: #1389b2;
}

.fizzbuzz {
  background-color: #f0466f;
}

.fizz {
  background-color: #0bd6a1;
}

.buzz {
  background-color: #ffd166;
}
